In [ ]:
import pandas as pd
import ezodf
import sqlalchemy

#### Importação do ficheiro de cálculo para processamento

In [16]:
doc = ezodf.opendoc('TABELA_ENDERECOS_a_data_de_16_06_2017.ods')

##### Verificação das spreadsheets

Fazemos um `print` para "entender" o que temos!

In [9]:
print("Spreadsheet contains %d sheet(s)." % len(doc.sheets))

Spreadsheet contains 20 sheet(s).

In [50]:
for sheet in doc.sheets:
    print("-"*40)
    print("   Sheet name : '%s'" % sheet.name)
    print("Size of Sheet : (rows=%d, cols=%d)" % (sheet.nrows(), sheet.ncols()) )

----------------------------------------
   Sheet name : 'ESPINHEL'
Size of Sheet : (rows=1543, cols=26)
----------------------------------------
   Sheet name : 'RECARDAES'
Size of Sheet : (rows=2153, cols=28)
----------------------------------------
   Sheet name : 'BELAZAIMA'
Size of Sheet : (rows=436, cols=26)
----------------------------------------
   Sheet name : 'AGUEDA'
Size of Sheet : (rows=8012, cols=26)
----------------------------------------
   Sheet name : 'BORRALHA'
Size of Sheet : (rows=1280, cols=26)
----------------------------------------
   Sheet name : 'FERMENTELOS'
Size of Sheet : (rows=1919, cols=26)
----------------------------------------
   Sheet name : 'BARRO'
Size of Sheet : (rows=1224, cols=26)
----------------------------------------
   Sheet name : 'AG DE CIMA'
Size of Sheet : (rows=2536, cols=26)
----------------------------------------
   Sheet name : 'CASTANHEIRA VOUGA'
Size of Sheet : (rows=591, cols=26)
----------------------------------------
   Sheet name : 'AGADAO'
Size of Sheet : (rows=404, cols=26)
----------------------------------------
   Sheet name : 'TROFA'
Size of Sheet : (rows=1534, cols=26)
----------------------------------------
   Sheet name : 'AG BAIXO'
Size of Sheet : (rows=809, cols=256)
----------------------------------------
   Sheet name : 'SEGADAES'
Size of Sheet : (rows=662, cols=26)
----------------------------------------
   Sheet name : 'LAMAS'
Size of Sheet : (rows=467, cols=26)
----------------------------------------
   Sheet name : 'TRAVASSO'
Size of Sheet : (rows=1013, cols=26)
----------------------------------------
   Sheet name : 'OIS DA RIBEIRA'
Size of Sheet : (rows=427, cols=26)
----------------------------------------
   Sheet name : 'MACINHATA'
Size of Sheet : (rows=2327, cols=27)
----------------------------------------
   Sheet name : 'VALONGO VOUGA'
Size of Sheet : (rows=2778, cols=26)
----------------------------------------
   Sheet name : 'PRESTIMO'
Size of Sheet : (rows=764, cols=26)
----------------------------------------
   Sheet name : 'MACIEIRA ALCOBA'
Size of Sheet : (rows=222, cols=26)

Selecionámos as colunas da folha de cálculo a ignorar.

In [17]:
keys_to_ignore = ['id_parcela', 'id_edifica', 'grv', 'FRAÇÃO', 'FRACAO', 'SITIO', 'LOCAL','GPS', 'NIGP', 'REG EXP', 'OBS', None]

In [ ]:
*Dados da BD*

In [18]:
engine = sqlalchemy.create_engine("postgresql://agueda:agueda@localhost/aguedadb")
con = engine.connect()

table_name = 'estagio_sheets_moradas'

#### Código de "limpeza"

In [2]:
for sheet in doc.sheets:
    
    df_dict = {}
    for i, row in enumerate(sheet.rows()):
        # row is a list of cells
        # assume the header is on the first row
        if i == 0:
            # columns as lists in a dictionary
            df_dict = {cell.value:[] for cell in row}
            # create index for the column headers
            col_index = {j:cell.value for j, cell in enumerate(row)}
            continue
        for j, cell in enumerate(row):
            # use header instead of column index
            df_dict[col_index[j]].append(cell.value)
      
    # limpar campos a ignorar
    for k in list(df_dict.keys()):
        if k in keys_to_ignore:
            del df_dict[k]
        
    # criar Data Frame Pandas
    df = pd.DataFrame(df_dict)
    
    # acrescentar nome da freguesia
    df['nomefreg'] = sheet.name
    
    # eliminar rows com valor null em id_via
    df = df[pd.notnull(df['RUA'])]
    
    # substituir 'Id Largo xxxx' por 0 na coluna id_via
    df['id_via'] = pd.to_numeric(df['id_via'], errors='coerce')
        
    # carregar tabela
    df.to_sql(table_name, con, schema='data', if_exists='append')

NameError: name 'doc' is not defined

In [19]:
sheet = doc.sheets[2]

df_dict = {}
for i, row in enumerate(sheet.rows()):
    # row is a list of cells
    # assume the header is on the first row
    if i == 0:
        # columns as lists in a dictionary
        df_dict = {cell.value:[] for cell in row}
        # create index for the column headers
        col_index = {j:cell.value for j, cell in enumerate(row)}
        continue
    for j, cell in enumerate(row):
        df_dict[col_index[j]].append(cell.value)

# limpar campos a ignorar
for k in list(df_dict.keys()):
    if k in keys_to_ignore:
        del df_dict[k]

# criar Data Frame Pandas
df = pd.DataFrame(df_dict)

# acrescentar nome da freguesia
df['nomefreg'] = sheet.name

# eliminar rows com valor null em id_via
df = df[pd.notnull(df['RUA'])]

In [23]:
df.head()

                          CP7 LUGAR  Nº                 RUA id_via   nomefreg
0  3750-362 BELAZAIMA DO CHÃO  None  31      VIELA DO TOJAL   3961  BELAZAIMA
1  3750-362 BELAZAIMA DO CHÃO  None  13      VIELA DO TOJAL   3961  BELAZAIMA
3  3750-362 BELAZAIMA DO CHÃO  None  26  RUA CANTO DO LUGAR   3896  BELAZAIMA
4  3750-362 BELAZAIMA DO CHÃO  None  29  RUA CANTO DO LUGAR   3896  BELAZAIMA
5  3750-362 BELAZAIMA DO CHÃO  None  38  RUA CANTO DO LUGAR   3896  BELAZAIMA

In [25]:
df[df['id_via'].apply(lambda x: isinstance(x, str))]

,CP7,LUGAR,Nº,RUA,id_via,nomefreg
150,3750-362 BELAZAIMA DO CHÃO,None,10; 12; 16; 22,LARGO DOS CORREIOS,Id Largo 107,BELAZAIMA
300,None,None,None,LARGO DA CAPELA,Id largo 105,BELAZAIMA